# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_linux/
env/
venv/

# Django
db.sqlite3
/static/
**/media/
.env

# Model Files (Optional, but recommended if >100MB)
*.pth
!muse/muse/saved model/muse_model_epoch_49.pth

# IDEs
.vscode/
.idea/